<div class="left-container">
  <div class="menu">
    <div
      [routerLink]="['/commands/add']"
      routerLinkActive="menu-item-active"
      class="menu-item"
    >
      <p class="item-text">
        Add command
      </p>
    </div>
    <div
      [routerLink]="['/commands/all']"
      routerLinkActive="menu-item-active"
      class="menu-item"
    >
      <p class="item-text">
        List all
      </p>
    </div>
    <div class="menu-item">
      <p class="item-text">
        Angular
      </p>
    </div>
    <div class="menu-item">
      <p class="item-text">
        Dotnet
      </p>
    </div>
  </div>
</div>
